.commentSectionContainer{
    margin-top: 30px;
}

.cardContainer{
    display: flex;
    background-color: whitesmoke;
    border-top: 1px solid rgb(167, 167, 167);
    border-bottom: 1px solid rgb(167, 167, 167);
    border-right: 1px solid rgb(167, 167, 167);
    margin-bottom: 1vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.card{
    transition-duration: 0.5s;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
    width: 100%;
} 

.cardSpecial{
    font-size: 17px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.status{
    width: 0.35vw;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.votesAndExpand div{
    padding-left: 40px;
}

.votes{
    font-weight: bolder;
    display: inline-flex
}

.votes span{
    padding-left: 10px;
}

.cardRow{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} /* Flex for each line of the app */

.cardForm{
    font-style:oblique;
    font-weight: bold;
} /* Form name: */

.cardData{
    font: normal;
    padding-left: 8px;
} /* Form info: */

.cardExpand{
    justify-self: flex-end;
    font-weight: bold;
    font-size: 18px;
} /* Icon style */

.card:hover{
    box-shadow: 1px 1px 5px 0 rgb(82, 82, 82);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: .5s;
} /* On hover over card */

.form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .control {
    font-weight: bold;
  }

  .control input,
  .control textarea {
    font: inherit;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.2rem;
    width: 100%;
    resize: none;
  }

  .actions{
      padding-top: 3px;
  }

  .actions button {
    font: inherit;
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(30deg, rgb(95, 95, 95) 0%, rgb(128, 128, 128)100%);
    color: white;
    margin-right: 5px;
    padding: 0.3rem 1.2rem;
    border: 0px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  .actions button:hover,
  .actions button:active {
    transition: 0.4s;
    background: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(139, 139, 139) 100%);
    border-color: #000000;
  }