.serverItem {
  color: rgb(1, 31, 31);
  background-color: white;
  transition-duration: 0.5s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2vh;
  width: 28vw;
  height: 100%;
  margin: 1vh;
  border: 1px solid rgb(155, 154, 154);
  border-radius: 10px;
}

.serverItem h4{
  margin: 0;
}

.serverItem hr{
  width: 100%;
}

.status{
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
}

.serverItem:hover {
 background-color:rgb(214, 214, 214);
 transition-duration: 0.5s;
}

.serverDetails{
  display: flex;
  flex-direction: column;
}

.serverInfo{
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}

.serverInfo a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.serverInfo button {
  font: inherit;
  cursor: pointer;
  background: linear-gradient(30deg, #5f5f5f 0%, rgb(128, 128, 128)100%);
  border: 0px solid #0f0f0f;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 9px;
  width: 32%;
}

.serverInfo button:hover,
.serverInfo button:active {
  background: linear-gradient(30deg, rgb(75, 75, 75) 0%, rgb(122, 122, 122) 100%);
}

.playerList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attack{
  display: flex;
  flex-direction: column;
}

.defence{
  display: flex;
  flex-direction: column;
}

.teamTitle{
  padding: 2px 0;
  font-weight: bolder;
}