.home {
  width: auto;
}

.home h2 {
  color: white;
  font-size: 30px;
}

.flex {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.flex div {
  display: block;
  padding: 10px;
  flex-direction: column;
}
