.container{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgb(88, 88, 88) 0%, rgb(156, 156, 156) 100%);
    height: 100vh;
}

.container h3{
    text-align: center;
    padding: 1vh 0;
    color: white;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    padding: 0vh 3vw;
}