.container{
    display: flex;
    flex-direction: column;
    background: #a5a5a5;
}

.container h3{
    text-align: center;
    padding: 1vh 0;
    color: white;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    padding: 0vh 3vw;
}