.achievementCard{
    display: flex;
    background-color:white;
    box-shadow: 1px 5px 10px 1px #646464; 
    border-radius: 8px;
    padding: 2vh;
    width: 20vw;
    justify-content: space-between;
    transition: 0.3s;
}

.achievementCard:hover{
    transition: 0.3s;
    display: flex;
    box-shadow: 1px 5px 10px 1px #949494; 
  }
  
  .boxText {
    display: flex;
    flex-direction: column;
  }